/*общее*/
.titles,a,a:active,a:focus,a:hover{
  color:#373737
}
.titles{
  text-transform:uppercase;
}
.title-block {
  text-align: center;
}
.title{
  margin-top:30px;
  font-size:18px;
  text-transform:uppercase;
  font-family: Rubik,sans-serif;
  font-weight: 300;
}
.sub-title{
  font-size:14px;
  text-transform:uppercase;
  color:#b69b86;
  margin-bottom: 15px;
}
.line0{
  display: inline-block;
  margin: 8px 0 11px;
  height: 1px;
  background-color:#b69b86;
  width:90px
}


.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.container:after {
  display: block;
  clear: both;
  content: "";
}
.max-wight {
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-right {
  justify-content: flex-end;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  display: block;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.white_back {
  background: #ffffff;
}
/*разобрать этот треш*/
.btn,.btn2{
  background-color:rgba(84,68,55,.98);
  color:#b69b86;
  margin-top:10px;
  text-transform:uppercase
}
.btn{
  border-top:1px solid #544437;
  border-left:1px solid #544437;
  border-right:1px solid #544437;
  border-bottom:1px solid rgba(255,241,248,.35)
}
.btn2:hover,.btn:hover{
  border:1px solid #b69b86
}
.btn2{
  -webkit-border-radius:3px;
  border-radius:3px;
  font-size:10px;
  border-top:1px solid #544437;
  border-left:1px solid #544437;
  border-right:1px solid #544437;
  border-bottom:1px solid rgba(255,241,248,.35);
  padding:5px
}
.titles,a,a:active,a:focus,a:hover{
  color:#373737
}

.hidden {
  display: none;
}
.main-nav a:hover::after{
  opacity:1;
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0)
}
.main-nav .active a,.main-nav a:active,.main-nav a:hover{
  color:#b69b86
}

input[type=text], textarea{
  display:block;
  width:95%;
  padding:5px 0;
  margin-bottom:15px;
  -webkit-border-radius:3px;
  border-radius:3px;
  color:#bdbdbd
}

.btns,.btns a,.page-top .about,.page-top .about span,.top-btns{
  display:inline-block
}

.tab,.contacts,.footer-nav ul li a,.hid,.hid2,.item-info-title,.item-title,.m-info p,.pop-info,.type-text{
  letter-spacing:.1em
}


.cat-btn1{
  color:#b69b86;
  -webkit-box-shadow:0 1px 5px rgba(0,0,0,.1);
  box-shadow:0 1px 5px rgba(0,0,0,.1);
  border:1px solid #b69b86;
  margin:0 auto
}
.cat-btn1:hover{
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,.3),0 -2px 0 #e38d13 inset;
  box-shadow:0 1px 1px rgba(0,0,0,.3),0 -2px 0 #e38d13 inset;
  color:#e38d13;
  background:#373737;
  border-right:1px solid #373737;
  border-left:1px solid #373737;
  border-bottom:1px solid #373737;
  border-top:1px solid #272727
}







.tit{
  font-weight:700;
  font-size:11px!important;
  text-transform:uppercase
}


.animate,.btn,.btn-border-rev-o:after,.btn-border-rev-o:before,.btn0{
  -webkit-transition:all .3s;
  transition:all .3s
}
@-webkit-keyframes z-size2{
  from{
    background-position:-100px 100%
  }
  to{
    background-position:0 100%
  }
}
@keyframes z-size2{
  from{
    background-position:-100px 100%
  }
  to{
    background-position:0 100%
  }
}
.btn{
  display:inline-block;
  padding:10px 30px;
  font-size:12px;
  letter-spacing:.2em;
  -webkit-border-radius:1px;
  border-radius:1px
}
.btn0{
  -webkit-border-radius:1px;
  border-radius:1px
}
.btn-border-rev-o{
  background-color:transparent;
  border:1px solid #fff;
  color:#fff
}
.btn-border-rev-o:after,.btn-border-rev-o:before{
  content:'';
  border-style:solid;
  position:absolute;
  z-index:5;
  -webkit-border-radius:1px;
  border-radius:1px;
  -webkit-box-sizing:content-box;
  box-sizing:content-box
}
.btn-border-rev-o:before{
  width:0;
  height:100%;
  border-width:1px 0;
  top:-1px;
  right:0;
  -webkit-transition-delay:50ms;
  transition-delay:50ms
}
.btn-border-rev-o:after{
  width:100%;
  height:0;
  border-width:0 1px;
  bottom:0;
  left:-1px
}
.btn-border-rev-o:hover.btn-navy:after,.btn-border-rev-o:hover.btn-navy:before{
  border-color:#323232
}
.btn-border-rev-o:hover.btn-navy:hover{
  color:#323232
}
.btn-border-rev-o:hover:before{
  width:100%
}
.btn-border-rev-o:hover:after{
  height:100%
}
.btn-border-rev-o:hover.btn-navy2:after,.btn-border-rev-o:hover.btn-navy2:before{
  border-color:#e38d13
}
.btn-border-rev-o:hover.btn-navy2:hover{
  color:#e38d13;
  background-color:rgba(0,0,0,.41)
}
input[type=checkbox]+span{
  -webkit-appearance:none;
  width:16px;
  height:16px;
  border:1px solid #000;
  outline:0;
  margin-right:5px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block
}
input[type=checkbox]:checked+span:before{
  content:"";
  display:block;
  width:7px;
  height:16px;
  border: solid #000;
  border-width:0 2px 2px 0;
  -webkit-transform:rotateZ(45deg);
  margin:-5px 4px;
  pointer-events:none
}

